.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: min-content;
    height: 10vh;
    position: fixed;
    top: 45vh;
    left: 2vw;
}

.sidebar div {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #c0c5ce;
    outline: none;
    cursor: pointer;
    transition: all ease 0.2s;
}
.sidebar div:hover, .sidebar div.active {
    background-color: white;
}