.slider {
    width: 80vw;
}

.slider .slick-arrow.slick-prev {
    left: -5vw;
}

.slider .slick-arrow.slick-prev:before {
    font-family: 'Material Icons';
    font-size: 4rem;
    content: '\e5cb';
    color: #c0c5ce;
    position: absolute;
    top: -22px;
    left: 0;
}

.slider .slick-arrow.slick-next {
    right: -5vw;   
}

.slider .slick-arrow.slick-next:before {
    font-family: 'Material Icons';
    font-size: 4rem;
    content: '\e5cc';
    color: #c0c5ce;
    position: absolute;
    right: 0;
    top: -22px;
}

.slider .slick-dots button::before {
    color: #c0c5ce;
}

.slider .slick-dots .slick-active button:before {
    color: #c0c5ce;
    opacity: 1;
}

.slick-slide > div > div {
    outline: none;
}

.slick-slide .slide-content {
    display: flex;
    align-items: flex-start;
    height: 60vh;
    overflow-y: scroll;
}

.slick-slide .slide-content .story {
    flex: 1;
    line-height: 1.3rem;
    color: #e2e4e9;
}

.slick-slide .slide-content .media {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    overflow-y: scroll;
}

.slick-slide .slide-content .media a {
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.slick-slide .slide-content .media img {
    width: 100%;
    border-radius: 16px;
}
            
.slick-slide .story li {
    margin-bottom: 0.5rem;
}

.slick-slide .experience-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.slick-slide .experience-brand .experience-logo {
    height: 3rem;
    margin-right: 1rem;
}

.slick-slide .experience-position {
    margin: 0;
    color: white;
}

.slick-slide .experience-time {
    color: #d4d7de;
    margin-top: 0.25rem;
    margin-bottom: 0;
}