body, html {
  background-color: #121621;
  font-family: Lato;
  color: #c0c5ce;
}

.App {
  display: flex;
  flex-direction: column;
}

section {
  height: 100vh;
  /* border: 1px solid black; */
}

.bio-wrapper {
  display: flex;
  align-items: flex-start;
}

.bio {
  font-size: 1.5rem;
  margin: 0;
}

.headshot {
  height: 16rem;
  margin-right: 2rem;
}

.bio-action {
  display: flex;
  align-items: center;
  margin-top: 10vh;
}

.emphasis {
  color: #00ccb8;
}

.bio-button {
  margin-right: 5vw;
  background-color: transparent;
  padding: 16px 32px;
  color: #00ccb8;
  font-size: 1.3rem;
  font-weight: bold;
  border: 2px solid #00ccb8;
  outline: none;
  border-radius: 16px;
  transition: all ease 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.bio-button:hover {
  background-color: #00ccb8;
  color: #121621;
}

.bio-button:active {
  background-color: #00998a;
  border: 2px solid #00998a;
}

#section-0 {
  padding: 20vh 10vw 0 15vw;
}

#section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 20vh;
}

#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 20vh;
}

#section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 20vh;
}

#section-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10vw;
}

.section-title {
  align-self: flex-start;
  padding-left: 5vw;
  padding-bottom: 1vw;
  font-size: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form input[type='text'], .contact-form textarea {
  background-color: transparent;
  border: none;
  color: #c0c5ce;
  padding: 8px;
  outline: none;
  transition: all ease 0.2s;
  font-size: 1rem;
  margin-bottom: 24px;
  border-bottom: 1px solid #c0c5ce;
  border-top: 1px solid transparent;
  resize: none;
  width: 30vw;
}

.contact-form textarea {
  width: 40vw;
}

.contact-form input[type='text']:focus, .contact-form textarea:focus {
  border-top: 0px solid transparent;
  border-bottom: 2px solid #e2e4e9;
  color: #e2e4e9;
}

.contact-form input[type='submit'] {
  padding: 8px 16px;
  color: #00ccb8;
  border: 1px solid #00ccb8;
  transition: all ease 0.2s;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 8px;
  outline: none;
}

.contact-form input[type='submit']:hover {
  color: #121621;
  background-color: #00ccb8;
  cursor: pointer;
}

.contact-form input[type='submit']:active {
  background-color: #00998a;
  border: 1px solid #00998a;
}

.contact-form div {
  display: flex;
  align-items: center;
}

.contact-form div input[type="text"] {
  font-size: 0.9rem;
  margin-right: 2vw;
  width: calc(14vw - 8px);
}

.banner-wrapper {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}

.contact-banner {
  width: 80%;
}

@media only screen and (max-width: 1100px) {
  .bio-wrapper {
    flex-direction: column;
  }

  .headshot {
    margin-bottom: 2rem;
  }

  .bio-action {
    margin-top: 4rem;
  }

  #section-0 {
    height: auto;
    padding-bottom: 20rem;
    padding-top: 5rem;
  }

  #section-4 {
    flex-direction: column;
    height: auto;
    padding-left: 0;
  }

  #section-4 .contact-form {
    padding: 10rem 0 18rem 0;
    width: 80%;
    margin: 0 auto;
  }

  .contact-form div input[type="text"] {
    width: calc(37vw - 8px);
  }

  .contact-form input[type='text'], .contact-form textarea {
    width: calc(80vw - 16px);
  }

  .banner-wrapper {
    display: none;
  }
}